* {
    text-align: center;
}
body {
    background-image: url(color_skulls6550.jpg);
}
 body{
background-color: grey;
 }

h1 {
    color: white;
    font-size: 48pt;
    margin-top:1.5em;
    margin-bottom:0.5em;
    font-family: "Eater", serif;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgb(244, 4, 160);
    /* filter:blur(0.5px); */

}
h2 {
    font-size:30pt;
    color: cyan;
    font-family: "Frijole", system-ui;
    font-weight: normal;
    margin-top:1em;
    margin-bottom:1em;
    -webkit-text-stroke: .75px black;
    text-stroke: 1px black;

}
h3 {
    font-size:24pt;
    color: white;
    font-family: "Spicy Rice", serif;
    font-weight: normal;
    margin-top:1em;
    margin-bottom:1em;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    /* text-shadow: 3px 1px 1px rgb(244, 4, 160); */
}
.pic1{
    width:70%;
    margin-bottom: 3em;

}
.whoscoming {
    margin-top: 1.0em;
}
.rsvp{
    margin-bottom:3em;
}
a{
    /* color:white; */
    text-shadow: 1px 1px 1px rgb(131, 84, 249);
    /* filter:blur(0.5px); */
}
.link2{
    color:white;
    text-shadow: 2.5px 2.5px 2.5px cyan;
    filter:blur(0.5px);
    text-decoration: none;
}
.mania{
    font-size:24pt;
    font-family: "Eater", serif;
    font-weight: normal;
    color:white;
    text-shadow: 5px 5px 5px black;
}
.rye{
font-size:24pt;
    font-family: "Rye", serif;
    font-weight: normal;
    color:rgba(212, 212, 29, 0.829);
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}
.barriecito{
font-size:24pt;
    font-family: "Barriecito", system-ui;
    font-weight: normal;
    color:rgba(75, 146, 227, 0.829);
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}
.flavors{
font-size:24pt;
    font-family: "Spicy Rice", serif;
    font-weight: normal;
    padding: 0em 1.25em 0em 1.25em;
    color:white;
    /* -webkit-text-stroke: 0.5px white;
    text-stroke: 0.5px white; */
    text-shadow: 5px 5px 1px rgba(205, 79, 6, 0.829);
}

