* {
    text-align: center;
}
body {
    background-image: url(color_skulls6550.jpg);
}
 body{
background-color: grey;
 }

h1 {
    color: white;
    font-size: 48pt;
    margin-top:1.5em;
    margin-bottom:0.5em;
    font-family: "Eater", serif;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgb(244, 4, 160);
    /* filter:blur(0.5px); */

}
h2 {
    font-size:36pt;
    color: cyan;
    font-family: "Frijole", system-ui;
    font-weight: normal;
    margin-top:1em;
    margin-bottom:1em;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;

}
h3 {
    font-size:36pt;
    color: rgb(244, 4, 160);
    font-family: "Eater", serif;
    font-weight: normal;
    margin-top:1em;
    margin-bottom:1em;
    /* -webkit-text-stroke: 1px black;
    text-stroke: 1px black; */
    text-shadow: 3px 1px 1px white;
}
.pic1{
    width:70%;
    border:3.5px solid black;
    border-radius: 50%;
    margin-bottom: 3em;
    box-shadow: 3px 3px 3px cyan;
}
.whoscoming {
    margin-top: 1.0em;
}
.rsvp{
    margin-bottom:3em;
}
a{
    color:white;
    text-shadow: 5px 5px 5px rgb(131, 84, 249);
    filter:blur(0.5px);
}
.link2{
    color:white;
    text-shadow: 2.5px 2.5px 2.5px cyan;
    filter:blur(0.5px);
    text-decoration: none;
}
.mania{
    font-size:24pt;
    font-family: "Eater", serif;
    font-weight: normal;
    color:white;
    text-shadow: 5px 5px 5px black;
}
.rye{
font-size:24pt;
    font-family: "Rye", serif;
    font-weight: normal;
    color:rgba(212, 212, 29, 0.829);
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}
.barriecito{
font-size:24pt;
    font-family: "Barriecito", system-ui;
    font-weight: normal;
    color:rgba(75, 146, 227, 0.829);
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}
.flavors{
font-size:24pt;
    font-family: "Eater", serif;
    font-weight: normal;
    color:rgba(194, 84, 21, 0.829);
    /* -webkit-text-stroke: 0.5px white;
    text-stroke: 0.5px white; */
    text-shadow: 3px 1px 1px white;
}

